@import url('../Spacing.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.banner-2 {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: cornflowerblue;
}

.banner2-logo {
    width: 40%;
    height: 100%;
}
.banner2-logo img{
    height: 102%;

}

.banner2-text {
    width: 60%;
    height: 100%;

}
.banner2-text h1{
    padding-top: 70px;
    font-size: 140px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: red;
    text-shadow: 5px 5px 6px gray;
}