@import url('Spacing.css');
.service-shop{
    width: 70%;
    height: 700px;
    margin: auto;
}
.service-title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.service-block{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.service-item{
    width: 410px;
    height: 480px;

}
.service-detail{
    width: 100%;
    height: 45%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
}
.service-detail h1{
    padding-top: 10%;
}
.service-detail p{
    padding-top: 5%;
}
.service-thumbnail{
    width: 100%;
    height: 55%;
}
.service-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}